List of all anchors currently missing from the Bikeshed port

* informative-references
* normative-references
* ref-DOM
* ref-DOM3CORE
* ref-ECMA-262
* ref-HTML5
* ref-IEEE-754
* ref-OMGIDL
* ref-PERLRE
* ref-RFC2119
* ref-RFC2781
* ref-RFC3629
* ref-SECURE-CONTEXTS
* ref-TYPEDARRAYS
* ref-UNICODE
* ref-WEBIDL-JAVA
* ref-XMLNS
* sections
* union-to-es